.gitlab-ci.yml export-ignore
.php-cs-fixer.dist.php export-ignore
Makefile export-ignore
dist export-ignore
infection.json.dist export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore
tests export-ignore
