{
    "$schema": "vendor/infection/infection/resources/schema.json",

    "source": {
        "directories": [
            "src"
        ]
    },
    "tmpDir": "dist/infection",
    "mutators": {
        "@default": true,
        "CastString": {
            ignoreSourceCodeByRegex: [
                "\\(string\\) InstalledVersions"
            ],
        },
        "MBString": false,
        "FalseValue": {
            "ignore": [
                "Webmozarts\\StrictPHPUnit\\StrictScalarComparator::assertEquals"
            ]
        },
        "OneZeroFloat": {
            "ignore": [
                "Webmozarts\\StrictPHPUnit\\StrictScalarComparator::assertEquals"
            ]
        }
    }
}
