<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnPhpunitDeprecation="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnIncompleteTests="true"
         bootstrap="vendor/autoload.php"
         cacheResultFile="dist/phpunit-cache"
         requireCoverageMetadata="true"
         stopOnFailure="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <extensions>
        <bootstrap class="Webmozarts\StrictPHPUnit\StrictPHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
